<div>
  <div class="parameter-details">
    <div class="main-details">
      <h4>{{name}}:</h4>
      {{#each types}}
      {{#unless @first}}
       or 
      {{/unless}}
      {{this}}
      {{/each}}
    </div>
    {{#if default}}
    <span class="parameter-default">Default: {{default}}</span>
    {{/if}}
  </div>
  
  <p class="parameter-description">{{description}}</p>
</div>