<div class="parameter">
<div class="parameter parameter-details">
<div class="parameter main-details">
<h4>{{name}}:</h4>
{{#each types}}
{{#unless @first}}
 or 
{{/unless}}

{{this}}

{{/each}}
</div>
{{#if default}}

<span class="parameter parameter-default">Default:{{default}}</span>

{{/if}}
</div>

<div class="parameter-description">

{{description}}

</div>
</div>